@use "../abstract" as core;

html {
    font-size: 62.5%;
}

body {
    font-family: core.$font-family;
    background-color: core.color(background);
    color: core.color(text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


h1 {
    font-size: core.font-size(xxl);
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: core.color(light);
}

h2 {
    font-size: core.font-size(xl);
    font-weight: bold;
    margin-bottom: 1.2rem;
    color: core.color(light);
}

h3 {
    font-size: core.font-size(l);
    font-weight: bold;
    margin-bottom: 1rem;
    color: core.color(primary);
}

h4, h5, h6 {
    font-size: core.font-size(m);
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.4rem;
}

