@use "../componentes" as comp;
@use "../abstract" as core;
.header{
    @include core.layout_basico;
    border-bottom: 0.5rem solid core.color(secondary);
    margin: 0;
}
.header__logo{
    @extend .logo;
    @include core.center;
    grid-column: 4/7;
    grid-row: 1/-1;
    img{
        @extend .logo-img;
    }
    &:hover{
        img{
            transform: scale(1.1);
            transition: all 0.3s ease-in-out;
            filter: drop-shadow(0 0 1rem core.color(accent))
        }
    }
}
.header__nav{
    grid-column: 8/10;
    @include core.navigation();

    ul{
        @include core.grid-flexible(5rem, 2rem);
        li{
            @include comp.li;
        }
    }
}